**/*.pdb
**/*.exe
**/*.vs
**/*.sln
**/*.cache
**/*.json
**/AssemblyInfo.cs
**/.csproj.FileListAbsolute.txt
**/.exe.config

#Tests
AnimArch/AnimationControlTests/bin/Debug/netcoreapp3.0/**
AnimArch/AnimationControlTests/obj/**
